<% if !@order_item.nil? && @order_item.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @order_item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<% if @order_items.size == 0 %>
    <p class="text-center">
      There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
    </p>
<% else %>
    <% @order_items.each do |order_item| %>
        <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
    <% end %>
        <div>
          <%= render 'promotions/form' %>
        </div>
        <%= link_to "Checkout", "/users/new", {class: "btn btn-primary"} %>
<% end %>
<br/><br/><br/>
<strong>Following coupon can be applied</strong>
<br/>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
      <ul style="list-style:none; ">
        <% @promo.each do |promocode| %>
        <li style="float:left"><h4><%= promocode.name %>&nbsp;</h4></li>
      <% end %>
    </ul>
  </div>
</div>